# Sentiment Analysis

### Tweets Scraping

In the below notebook I am starting with the task of scraping tweets related to the topic of abortion. My objective is to gather approximately 25,000 tweets that can be used for sentiment analysis.

To accomplish the scraping process, I will be utilizing the tweepy package, a Python library that provides convenient access to the Twitter API. Tweepy simplifies the retrieval of tweets by providing functions to authenticate with Twitter and retrieve data based on specified search criteria.

By scraping tweets on the topic of abortion, I aim to collect a diverse set of data that represents various opinions and sentiments expressed by users on social media. This data will serve as the foundation for conducting sentiment analysis, allowing me to analyze and understand the overall sentiment surrounding the abortion topic.

Throughout the notebook, I will demonstrate the steps involved in utilizing the tweepy package, authenticating with the Twitter API, defining search parameters, and retrieving the desired number of tweets. Once the scraping process is complete, the gathered tweet data will be ready for further analysis and sentiment classification.

Please note that during the scraping process, it is essential to adhere to the terms and conditions set by Twitter and respect the privacy and usage rights of the users whose tweets are being collected.

In [3]:
import tweepy
import pandas as pd
import spacy

In [4]:
%run /Users/lst/Desktop/ZUM/my_keys.ipynb

In [9]:
client = tweepy.Client(bearer_token=bearer_token, wait_on_rate_limit=True)


query = '(legal abortion OR legalise abortion OR legalize abortion) lang:en -is:retweet'



start_time = '2023-01-01T01:00:00+00:00'
end_time= '2023-03-31T01:00:00+00:00'

tweets_list = []

for tweet in tweepy.Paginator(client.search_all_tweets, query=query,
                              tweet_fields=['created_at', 'author_id', 'text'], max_results=500, start_time = start_time, end_time=end_time).flatten(limit=25000):
                                tweets_list.append([tweet.created_at, tweet.author_id, tweet.text])

Rate limit exceeded. Sleeping for 822 seconds.

In [10]:
len(tweets_list)

25000

In [11]:
tweets_df = pd.DataFrame(tweets_list, columns=["date", "author_id", "text"])

In [12]:
tweets_df

,date,author_id,text
0,2023-03-31 00:54:56+00:00,80832189,Ron DeSantis just stated he would not honor a ...
1,2023-03-31 00:54:50+00:00,2479303121,Abortion is completely legal and in our consti...
2,2023-03-31 00:52:32+00:00,1526105788728475653,@felicia_hart13 @Thisisa74798027 @kyle_macdowe...
3,2023-03-31 00:52:09+00:00,438628988,@sbaprolife @MichaelBennet @CNN @SenTuberville...
4,2023-03-31 00:51:47+00:00,1492201362154831874,@picelandy @JoeBiden Democrats that want to le...
...,...,...,...
24995,2023-02-23 02:42:35+00:00,1492272489455620097,@ClownWorld_ abortion up to 9 months shouldn’t...
24996,2023-02-23 02:29:15+00:00,452462161,@RochNH2014 @mikereinholz777 @GeorgeTakei SCOT...
24997,2023-02-23 02:27:01+00:00,1519800752549421058,@JohnBoyThinks @StudentsforLife Yes. And I wil...
24998,2023-02-23 02:25:21+00:00,1445411972388847622,"@beccaboo8u @Darlene_McD Also, due to the inju..."
24999,2023-02-23 02:20:52+00:00,78746288,Blue America wants to make abortion legal up u...

In [13]:
tweets_df.to_csv("tweets.csv")